*{
    margin: 0;
    font-family: 'Space Mono', monospace;
    font-family: 'Open Sans', sans-serif;
}
.container{
    min-height: 100vh;
    width: 800px;
}
.footer{
    background-color: #000;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer a{
    color: aliceblue;
    text-decoration: none;
}